{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <h3>Se connecter</h3>
      <p>{% blocktrans %}
        Bienvenue. Merci de vous connecter. Si vous n'avez pas encore de compte, merci de vous
        <a class="link" href="{{ signup_url }}">inscrire</a>
        en premier.{% endblocktrans %}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="submit-btn" type="submit">{% trans "Se connecter &raquo" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}